.mittprosjekt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .mittprosjekt-header {
    margin-bottom: 2rem;
  }
  
  .mittprosjekt-header h2 {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
  }
  
  .mittprosjekt-calendar {
    width: 100%;
    max-width: 8000px;
    margin-bottom: 2rem;
    height: 100%;
  }
  
  .mittprosjekt-table {
    width: 100%;
    max-width: 800px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
  }
  
  th,
  td {
    padding: 1rem;
  }
  
  th {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    background-color: #f2f2f2;
  }
  
  td {
    font-size: 1.1rem;
    color: black;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  .progress-bar {
    height: 20px;
    background-color: red;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #2196f3;
    transition: width 0.5s ease-in-out;
  }
  
  @media screen and (max-width: 767px) {
    .mittprosjekt-header h2 {
      font-size: 2rem;
    }
  
    td {
      font-size: 1rem;
    }
  }
  