.form-control {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.date-control {
  margin-bottom: 10px;
  width: 100%;
}

.dialog-title {
  font-size: 18px;
  font-weight: bold;
}

.dialog-actions {
  margin-top: 10px;
}

.dialog-actions button {
  margin-right: 10px;
}

.dialog-actions button:last-child {
  margin-right: 0;
}
